<div class="footer_container">
  <div class="footer_links">
    <div class="footer_link-wrapper">
      <div class="footer_link-items">
        <h2>Help</h2>
        <a href="/">See Videos</a>
        <a href="/">Ask a Quote</a>
      </div>
      <div class="footer_link-items">
        <h2>Products</h2>
        <a href="/pages/blazepos.html">BlazePOS</a>
        <a href="/">Blazing Chef</a>
        <a href="/">Blaze Scan</a>
      </div>
      <div class="footer_link-items">
        <h2>About</h2>
        <a href="/">About Us</a>
        <a href="/">Terms of Services</a>
      </div>
    </div>
  </div>

  <div class="social_media">
    <div class="social_media-wrap">
      <div class="footer_logo">
        <a href="/" id="footer_logo"
          ><i class="fa-solid fa-signature logo_icon"></i>JTECH</a
        >
      </div>
      <p class="website_rights">© JTECH STUDIOS 2023. All rights reserved</p>
      <div class="social_icons">
        <a href="/" class="social_icon-link" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="/" class="social_icon-link" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="/" class="social_icon-link" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="/" class="social_icon-link" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="/" class="social_icon-link" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>
